$foo: 'm' 'p';
$bar: 't' 'b' 'l' 'r';

@each $first in $foo {
  @each $second in $bar {
    @for $i from 1 through 5 {
      $val: $i * 5;
      .#{$first}-#{$second}-#{$val} {
        margin: #{$val}px;
        padding: #{$val}px;
      }
    }
  }
}   
