.m-t-5 {
  margin: 5px;
  padding: 5px;
}

.m-t-6 {
  margin: 6px;
  padding: 6px;
}

.m-t-7 {
  margin: 7px;
  padding: 7px;
}

.m-t-8 {
  margin: 8px;
  padding: 8px;
}

.m-t-9 {
  margin: 9px;
  padding: 9px;
}

.m-t-10 {
  margin: 10px;
  padding: 10px;
}

.m-t-11 {
  margin: 11px;
  padding: 11px;
}

.m-t-12 {
  margin: 12px;
  padding: 12px;
}

.m-t-13 {
  margin: 13px;
  padding: 13px;
}

.m-t-14 {
  margin: 14px;
  padding: 14px;
}

.m-t-15 {
  margin: 15px;
  padding: 15px;
}

.m-t-16 {
  margin: 16px;
  padding: 16px;
}

.m-t-17 {
  margin: 17px;
  padding: 17px;
}

.m-t-18 {
  margin: 18px;
  padding: 18px;
}

.m-t-19 {
  margin: 19px;
  padding: 19px;
}

.m-t-20 {
  margin: 20px;
  padding: 20px;
}

.m-t-21 {
  margin: 21px;
  padding: 21px;
}

.m-t-22 {
  margin: 22px;
  padding: 22px;
}

.m-t-23 {
  margin: 23px;
  padding: 23px;
}

.m-t-24 {
  margin: 24px;
  padding: 24px;
}

.m-t-25 {
  margin: 25px;
  padding: 25px;
}

.m-b-5 {
  margin: 5px;
  padding: 5px;
}

.m-b-6 {
  margin: 6px;
  padding: 6px;
}

.m-b-7 {
  margin: 7px;
  padding: 7px;
}

.m-b-8 {
  margin: 8px;
  padding: 8px;
}

.m-b-9 {
  margin: 9px;
  padding: 9px;
}

.m-b-10 {
  margin: 10px;
  padding: 10px;
}

.m-b-11 {
  margin: 11px;
  padding: 11px;
}

.m-b-12 {
  margin: 12px;
  padding: 12px;
}

.m-b-13 {
  margin: 13px;
  padding: 13px;
}

.m-b-14 {
  margin: 14px;
  padding: 14px;
}

.m-b-15 {
  margin: 15px;
  padding: 15px;
}

.m-b-16 {
  margin: 16px;
  padding: 16px;
}

.m-b-17 {
  margin: 17px;
  padding: 17px;
}

.m-b-18 {
  margin: 18px;
  padding: 18px;
}

.m-b-19 {
  margin: 19px;
  padding: 19px;
}

.m-b-20 {
  margin: 20px;
  padding: 20px;
}

.m-b-21 {
  margin: 21px;
  padding: 21px;
}

.m-b-22 {
  margin: 22px;
  padding: 22px;
}

.m-b-23 {
  margin: 23px;
  padding: 23px;
}

.m-b-24 {
  margin: 24px;
  padding: 24px;
}

.m-b-25 {
  margin: 25px;
  padding: 25px;
}

.m-l-5 {
  margin: 5px;
  padding: 5px;
}

.m-l-6 {
  margin: 6px;
  padding: 6px;
}

.m-l-7 {
  margin: 7px;
  padding: 7px;
}

.m-l-8 {
  margin: 8px;
  padding: 8px;
}

.m-l-9 {
  margin: 9px;
  padding: 9px;
}

.m-l-10 {
  margin: 10px;
  padding: 10px;
}

.m-l-11 {
  margin: 11px;
  padding: 11px;
}

.m-l-12 {
  margin: 12px;
  padding: 12px;
}

.m-l-13 {
  margin: 13px;
  padding: 13px;
}

.m-l-14 {
  margin: 14px;
  padding: 14px;
}

.m-l-15 {
  margin: 15px;
  padding: 15px;
}

.m-l-16 {
  margin: 16px;
  padding: 16px;
}

.m-l-17 {
  margin: 17px;
  padding: 17px;
}

.m-l-18 {
  margin: 18px;
  padding: 18px;
}

.m-l-19 {
  margin: 19px;
  padding: 19px;
}

.m-l-20 {
  margin: 20px;
  padding: 20px;
}

.m-l-21 {
  margin: 21px;
  padding: 21px;
}

.m-l-22 {
  margin: 22px;
  padding: 22px;
}

.m-l-23 {
  margin: 23px;
  padding: 23px;
}

.m-l-24 {
  margin: 24px;
  padding: 24px;
}

.m-l-25 {
  margin: 25px;
  padding: 25px;
}

.m-r-5 {
  margin: 5px;
  padding: 5px;
}

.m-r-6 {
  margin: 6px;
  padding: 6px;
}

.m-r-7 {
  margin: 7px;
  padding: 7px;
}

.m-r-8 {
  margin: 8px;
  padding: 8px;
}

.m-r-9 {
  margin: 9px;
  padding: 9px;
}

.m-r-10 {
  margin: 10px;
  padding: 10px;
}

.m-r-11 {
  margin: 11px;
  padding: 11px;
}

.m-r-12 {
  margin: 12px;
  padding: 12px;
}

.m-r-13 {
  margin: 13px;
  padding: 13px;
}

.m-r-14 {
  margin: 14px;
  padding: 14px;
}

.m-r-15 {
  margin: 15px;
  padding: 15px;
}

.m-r-16 {
  margin: 16px;
  padding: 16px;
}

.m-r-17 {
  margin: 17px;
  padding: 17px;
}

.m-r-18 {
  margin: 18px;
  padding: 18px;
}

.m-r-19 {
  margin: 19px;
  padding: 19px;
}

.m-r-20 {
  margin: 20px;
  padding: 20px;
}

.m-r-21 {
  margin: 21px;
  padding: 21px;
}

.m-r-22 {
  margin: 22px;
  padding: 22px;
}

.m-r-23 {
  margin: 23px;
  padding: 23px;
}

.m-r-24 {
  margin: 24px;
  padding: 24px;
}

.m-r-25 {
  margin: 25px;
  padding: 25px;
}

.p-t-5 {
  margin: 5px;
  padding: 5px;
}

.p-t-6 {
  margin: 6px;
  padding: 6px;
}

.p-t-7 {
  margin: 7px;
  padding: 7px;
}

.p-t-8 {
  margin: 8px;
  padding: 8px;
}

.p-t-9 {
  margin: 9px;
  padding: 9px;
}

.p-t-10 {
  margin: 10px;
  padding: 10px;
}

.p-t-11 {
  margin: 11px;
  padding: 11px;
}

.p-t-12 {
  margin: 12px;
  padding: 12px;
}

.p-t-13 {
  margin: 13px;
  padding: 13px;
}

.p-t-14 {
  margin: 14px;
  padding: 14px;
}

.p-t-15 {
  margin: 15px;
  padding: 15px;
}

.p-t-16 {
  margin: 16px;
  padding: 16px;
}

.p-t-17 {
  margin: 17px;
  padding: 17px;
}

.p-t-18 {
  margin: 18px;
  padding: 18px;
}

.p-t-19 {
  margin: 19px;
  padding: 19px;
}

.p-t-20 {
  margin: 20px;
  padding: 20px;
}

.p-t-21 {
  margin: 21px;
  padding: 21px;
}

.p-t-22 {
  margin: 22px;
  padding: 22px;
}

.p-t-23 {
  margin: 23px;
  padding: 23px;
}

.p-t-24 {
  margin: 24px;
  padding: 24px;
}

.p-t-25 {
  margin: 25px;
  padding: 25px;
}

.p-b-5 {
  margin: 5px;
  padding: 5px;
}

.p-b-6 {
  margin: 6px;
  padding: 6px;
}

.p-b-7 {
  margin: 7px;
  padding: 7px;
}

.p-b-8 {
  margin: 8px;
  padding: 8px;
}

.p-b-9 {
  margin: 9px;
  padding: 9px;
}

.p-b-10 {
  margin: 10px;
  padding: 10px;
}

.p-b-11 {
  margin: 11px;
  padding: 11px;
}

.p-b-12 {
  margin: 12px;
  padding: 12px;
}

.p-b-13 {
  margin: 13px;
  padding: 13px;
}

.p-b-14 {
  margin: 14px;
  padding: 14px;
}

.p-b-15 {
  margin: 15px;
  padding: 15px;
}

.p-b-16 {
  margin: 16px;
  padding: 16px;
}

.p-b-17 {
  margin: 17px;
  padding: 17px;
}

.p-b-18 {
  margin: 18px;
  padding: 18px;
}

.p-b-19 {
  margin: 19px;
  padding: 19px;
}

.p-b-20 {
  margin: 20px;
  padding: 20px;
}

.p-b-21 {
  margin: 21px;
  padding: 21px;
}

.p-b-22 {
  margin: 22px;
  padding: 22px;
}

.p-b-23 {
  margin: 23px;
  padding: 23px;
}

.p-b-24 {
  margin: 24px;
  padding: 24px;
}

.p-b-25 {
  margin: 25px;
  padding: 25px;
}

.p-l-5 {
  margin: 5px;
  padding: 5px;
}

.p-l-6 {
  margin: 6px;
  padding: 6px;
}

.p-l-7 {
  margin: 7px;
  padding: 7px;
}

.p-l-8 {
  margin: 8px;
  padding: 8px;
}

.p-l-9 {
  margin: 9px;
  padding: 9px;
}

.p-l-10 {
  margin: 10px;
  padding: 10px;
}

.p-l-11 {
  margin: 11px;
  padding: 11px;
}

.p-l-12 {
  margin: 12px;
  padding: 12px;
}

.p-l-13 {
  margin: 13px;
  padding: 13px;
}

.p-l-14 {
  margin: 14px;
  padding: 14px;
}

.p-l-15 {
  margin: 15px;
  padding: 15px;
}

.p-l-16 {
  margin: 16px;
  padding: 16px;
}

.p-l-17 {
  margin: 17px;
  padding: 17px;
}

.p-l-18 {
  margin: 18px;
  padding: 18px;
}

.p-l-19 {
  margin: 19px;
  padding: 19px;
}

.p-l-20 {
  margin: 20px;
  padding: 20px;
}

.p-l-21 {
  margin: 21px;
  padding: 21px;
}

.p-l-22 {
  margin: 22px;
  padding: 22px;
}

.p-l-23 {
  margin: 23px;
  padding: 23px;
}

.p-l-24 {
  margin: 24px;
  padding: 24px;
}

.p-l-25 {
  margin: 25px;
  padding: 25px;
}

.p-r-5 {
  margin: 5px;
  padding: 5px;
}

.p-r-6 {
  margin: 6px;
  padding: 6px;
}

.p-r-7 {
  margin: 7px;
  padding: 7px;
}

.p-r-8 {
  margin: 8px;
  padding: 8px;
}

.p-r-9 {
  margin: 9px;
  padding: 9px;
}

.p-r-10 {
  margin: 10px;
  padding: 10px;
}

.p-r-11 {
  margin: 11px;
  padding: 11px;
}

.p-r-12 {
  margin: 12px;
  padding: 12px;
}

.p-r-13 {
  margin: 13px;
  padding: 13px;
}

.p-r-14 {
  margin: 14px;
  padding: 14px;
}

.p-r-15 {
  margin: 15px;
  padding: 15px;
}

.p-r-16 {
  margin: 16px;
  padding: 16px;
}

.p-r-17 {
  margin: 17px;
  padding: 17px;
}

.p-r-18 {
  margin: 18px;
  padding: 18px;
}

.p-r-19 {
  margin: 19px;
  padding: 19px;
}

.p-r-20 {
  margin: 20px;
  padding: 20px;
}

.p-r-21 {
  margin: 21px;
  padding: 21px;
}

.p-r-22 {
  margin: 22px;
  padding: 22px;
}

.p-r-23 {
  margin: 23px;
  padding: 23px;
}

.p-r-24 {
  margin: 24px;
  padding: 24px;
}

.p-r-25 {
  margin: 25px;
  padding: 25px;
}
